@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #faf6ed;	
    box-sizing: border-box;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 12rem minmax(30rem, 80rem)  1fr;
}

.menu {
    grid-column: 3 / 5;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    background: #fb5;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

}

.menu li a {
    display: block;
    padding: 1rem;
    margin-right: 1rem;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .1em;
}

.grid-section {
    grid-column: 2 / 4;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 9rem 30rem 1fr;
    grid-gap: 2rem;
    margin-bottom: 6.4rem;
}

.titulo {
    font-family: 'Playfair Display SC', Georgia;
    font-size: 9.6rem;
    line-height: 1;
    font-weight: normal;
    margin-bottom: 1.6rem;
    grid-column: 1 / 4;
}

.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1.6rem;
    color: #e54;
}
.animais h2::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 1rem;
    margin-right: 1rem;
    background: #fb5;
}

.animais p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    
   
}

.animais-lista {
    height: 37rem;
    overflow-y: scroll;
    grid-column: 2;
}
.animais-lista::-webkit-scrollbar {
    width: 1.8rem;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: #fb5;
    border-left: .4rem solid #faf6ed;
    border-right: .4rem solid #faf6ed;

}
.animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 4.8rem;

}

.faq-lista {
    grid-column: 2 / 4;
}

.faq-lista dt {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 3.2rem;
    margin-bottom:.8rem;
    color: #e54;
}

.faq-lista dt::before {
    content:'';
    display: inline-block;
    width: 2rem;
    height: 1rem;
    margin-right: 1rem;
    background: #fb5;
}

.faq-lista dd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: .8rem;
    margin-left: 3rem;
}